div.whitebody {
  background: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.sectionContent {
  font-size: 18px;
  min-height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.8;
}

@media only screen and (max-width: 800px) {
  .sectionContent {
    line-height: 1.6;
    max-width: 100%;
    min-height: 10px;
    padding: 8px;
  }
}

#legend table.infoaqitable {
  line-height: 1.5;
  background-color: white;
  /* max-width: 800px; */
  width: 100%;
  margin: 0 auto;
  /* margin-left: 10px; */
  border: 1px solid black;
  cursor: pointer;
  /* text-align: center; */
}

#legend table.infoaqitable tr {
  padding: 20px;
}

#legend table.infoaqitable td {
  padding: 5px;
  font-size: 17px;
  text-shadow: none;
}

#legend .aqiwtxt {
  color: #ffffff;
}

#legend .aqibtxt {
  color: #000000;
}

@media only screen and (max-width: 800px) {
  #legend table.infoaqitable {
    width: 100%;
    /* margin: 0 auto; */
  }
}

@media only screen and (max-width: 800px) {
  #legend table.infoaqitable td {
    display: block;
  }

  #legend table.infoaqitable td:nth-child(1) {
    display: inline-block;
    font-size: 1.2em;
  }

  #legend table.infoaqitable td:nth-child(2) {
    display: inline-block;
    font-weight: 800;
    font-size: 1.2em;
  }
}
